# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Archivos de configuración de entorno
.env

# Archivos de base de datos
*.sqlite3

# Archivos de logs
*.log

# Archivos de migraciones
*/migrations/__pycache__/
*/migrations/*.pyc

# Archivos generados por el IDE
.vscode/
.idea/

# Archivos de compilación
*.egg-info/
dist/
build/

# Archivos estáticos recolectados
/staticfiles/
/static/

# Archivos de medios subidos por usuarios (opcional)
media/

# Node modules si usas frontend con npm
node_modules/
